/* BODY */
body {
    margin: auto;
    padding: 0;
    font-family: "Lora", serif;
    color: white;
    background-image: url(./Images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    animation: slideIn 1s ease-out forwards;
    opacity: 0;
}

@keyframes slideIn {
    to {
      opacity: 1;
  }
}

/* HEADER */
header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    background: transparent;
}

/* TITRE PRINCIPAL */
h1 {
  font-size: 1.8rem;
  text-align: center;
  color: white;
  z-index: 1;
  margin-top: 0.01rem;
  font-weight: bold;
}

/* MENUS */
nav.menu-desktop{
    display: none;
}

.burger {
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 200;
}
  
.menu-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3.75rem;
    right: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    z-index: 100;
    text-align: center;
    border-left: 2px solid white;
}

.menu-mobile.show {
    display: flex !important;
    flex-direction: column;
}

.menu-mobile a {
    padding: 0.25rem;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-decoration: none;
}

/* PHOTO DE PROFIL */
.photo {
    width: auto !important;
    height: 30vw !important;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50% !important;
}

.photo-profil {
    margin: 0.1rem auto;
}

/* BLOCS */
.bloc, .bloc2, .bloc3, .bloc4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.bloc {
    margin: 3rem 0;
}

.bloc2, .bloc3, .bloc4 {
    margin: 4.5rem 0;
}

/* DESCRIPTIONS */
.description, .description2, .description3, .description4 {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    width: 100vw;
    text-align: justify;
}

/* TITRES SECONDAIRES */
#titre-secondaire {
    font-size: 1.4rem;
    text-align: center;
    background-image: url(./Images/devbackground.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    padding: 0.6rem;
    color: white;
}

/* FOOTER */
footer {
    width: 100% !important;
    padding-top: 5rem;
    margin: 1rem 0;
    opacity: 0.7;
}

.ligne {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 1px;
    background: white;
    margin-bottom: 50px;
}

.footer-contenu {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem;
    flex-wrap: wrap; 
}

.coordonnees{
    margin-top: 3.5rem;
}

.coordonnees, .menu-bas, .footer-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
    max-width: 100%;
}

.footer-infos {
    text-align: center;
}

.menu-bas nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-bas nav a {
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
}

.adresse-ligne, .telephone-ligne, .linkedin-ligne {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.telephone-ligne a{
    text-decoration: none !important;
    color: white;
}

.linkedin-ligne a {
    text-decoration: none !important;
}

.maj {
    font-style: italic;
    font-size: 0.8rem;
}

/* --------- MEDIA QUERIES --------- */
/* TRES PETITS ÉCRANS */
@media (max-width: 424px) {
  h1{
      font-size: 1.4rem !important;
  }

  #titre-secondaire {
      font-size: 1.2rem !important;
  }
  
  .menu-mobile a {
      padding: 0.25rem;
      font-size: 0.9rem;
  }

  .photo{
      height: 150px !important;
  }
}

@media (min-width: 425px) {
  .photo{
      height: 200px !important;
  }
}

/* TABLETTES */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
      font-size: 2rem;
  }

  nav.menu-desktop{
      display: none !important;
  }

  .burger {
      display: block !important;
      font-size: 1.8rem;
      margin-top: 0.5rem;
  }
  
  .menu-mobile a {
      padding: 0.25rem;
      font-size: 1rem;
  }

  #titre-secondaire{
      font-size: 1.6rem;
  }

  .photo{
      width: auto !important;
      height: 230px !important;
  }

  .bloc2, .bloc3, .bloc4 {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }

  .bloc {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 1.5rem;
      max-width: 100%;
      overflow-x: hidden;
  }
  
  .photo-profil {
      margin-left: 40px;
      margin-top: 40px;
  }
  
  .description {
      flex-grow: 1;
      max-width: none;
      margin-right: 3.1rem;
      flex: 1;
  }

  .description2, .description3, .description4 {
      max-width: 90%;
  }

  .coordonnees{
      transform: translateX(35px);
  }

  .footer-infos{
      transform: translateX(-35px);
  }

  .menu-bas, .footer-infos {
    margin-top: 3.5rem;
  }

  .menu-bas{
    text-align: center;
  }
}

/* ORDINATEURS */
@media (min-width: 1025px){
  h1 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
  }

  #titre-secondaire{
      font-size: 2rem;
  }

  nav.menu-desktop {
    position: absolute;
    top: 0;
    right: 0;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    z-index: 100;
  }
  
  nav.menu-desktop a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.625rem 1rem;
    transition: background 0.3s;
  }

  nav.menu-desktop a {
      font-size: 0.9rem;
      margin-top: 20px;
  }

  .photo{
      width: auto !important;
      height: 230px !important;
  }

  .bloc {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 1.5rem;
  }

  .photo-profil {
      width: 230px;
      height: auto;
      margin-left: 60px;
      margin-top: 40px;
  }

  .description {
      margin-right: 5rem;
      width: 63% !important;
  }

  .description2, .description3, .description4 {
      max-width: 90%;
  }

  .description, .description2, .description3, .description4{
      font-size: 1rem;
  }

  .footer-contenu{
      font-size: 1rem;
  }

  .coordonnees{
      transform: translateX(35px);
  }

  .footer-infos{
      transform: translateX(-35px);
  }

  .menu-bas, .footer-infos {
    margin-top: 3.5rem;
  }

  .menu-bas{
    text-align: center;
  }

  .menu-bas{
      text-align: center;
  }
}

/*GRANDS ECRANS*/
@media (min-width: 1440px){
  .photo-profil {
      width: 230px;
      height: auto;
      margin-left: 80px;
      margin-top: 40px;
  }

  .description {
      flex-grow: 1;
      max-width: none;
      margin-right: 5rem;
      width: 71% !important;
  }

  nav.menu-desktop a {
      font-size: 1.1rem;
  }

  .bloc{
      width: 70%;
  }

  .bloc2, .bloc4{
      width: 70%;
      margin-left: auto;
      margin-right: 0;
  }

  .bloc3{
      width: 75%;
  }

  .menu-bas{
      text-align: center;
  }

  .menu-bas, .footer-infos {
    margin-top: 3.5rem;
  }

}

@media (min-width: 1920px){
  .photo-profil {
      width: 300px !important;
      height: auto !important;
      margin-left: 100px;
      margin-top: 20px;
  }

  .description {
      width: 60%;
  }

  .menu-bas{
      text-align: center;
  }
}
